body {
    background-color:white;
}
    
div#t01{
    background-color: #363636;
    padding: 5px;
}
div#t02 {
    background-color: gainsboro;
    padding: 2px;
    font-size: 80%;
}
h1 {
    color: white;
    font-size: 230%;
}
ul {
    color:white;
    font-size: 140%;
}
div#t03{
    padding: 5px;
}
img {
    height: 50%;
    width: 25%;
    margin-left: 1px;
    margin-right: 0px;
    
}